[Desktop Entry]
Comment=Retro Fun
Name=Reactionary
X-KDE-PluginInfo-Author=Phob1an
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=phobian@tutanota.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Name=reactionary
X-KDE-PluginInfo-Version=2.5
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
